__pycache__
.idea
.cache
.pytest_cache
.mypy_cache
.envrc
.settings

Pipfile
.env
.python-version
*.pyc
*.swp
*.log
*.tmp
*.egg-info

/.project
/.pydevproject
/.vscode

.build/

# OSX useful to ignore
*.DS_Store

frontend/
